*{
    margin: 0px;
}

body{
    width: 100%;
    height: 1000px;
    font-family: 'PT Sans', sans-serif;
}

/*header*/

header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-image:linear-gradient(#04519b, #044687 60%, #033769);
    position: fixed;
}

.logo{
    width: 50px;
    height: 50px; 
}

.imgLogo{
    width: 50px;
    height: 50px;
}

nav{
    height: 50px;
    color: white;
}

.navPrinc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1400px;
    list-style-type: none;
}
nav ul li{
    width: 100%;
}

.elementNav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 15px;
    text-decoration: none;
    color: white;

}

.elementNav:hover{
    background-color: darkblue;
}

.fleche{
    width: 20px;
    height: 20px;
}

.sous{
    display: none;
    color: black;
    z-index: 1000;
    text-align: left;
    background-color: white;
    border: black;
}


li:hover .sous{
    display: block;
}

.sous li{
    display: block;
    list-style-type: none;
    font-size: 15px;
    width: 100%;
    text-align: left;
    margin-left: -30px;
    margin-top: 10px;
}

.sous li:first-of-type{
    margin-top: 0px;
}

.petit a{
    font-size: 13px;
}

.sous li a{
    width: 100%;
    color: black;
    text-decoration: none;
}

.sous li a:hover{
    width: 100%;
    display: block;
    background-color: lightseagreen;
    opacity: 0.5;
}

/*header*/

/*Bannières*/

.imgBanniere{
    width: 100%;
    height: 520px;
}

.banniere2{
    width: 100%;
    height: 150px;
    padding-top: 50px;
}

/*Bannières*/

/*Accueil*/

.blocPrincipal{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.premierBloc{
    width: 1100px;
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sondage{
    width: 500px;
    height: 250px;
    border: 1px solid lightskyblue;
}

.titreSondage{
    color: #3332b6;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 20px;
}

.texteSondage{
    font-size: 18px;
    color: gray;
    padding: 10px;
}

.repondre{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.repondre a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 70px;
    background-image:linear-gradient(#04519b, #044687 60%, #033769);
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 8px;
}

.deuxiemeBloc{
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.imgAteliers{
    width: 500px;
    height: 75px;
}

.imgRencontres{
    width: 540px;
    height: 75px;
}

.troisiemeBloc{
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 30px;
}

.texteVideo{
    font-size: 18px;
    padding-top: 20px;
}

.texteVideo a{
    text-decoration: none;
    color: turquoise;
}

.imgManifeste{
    width: 500px;
    height: 75px;
    padding-top: 20px;
}

.imgMembre{
    width: 500px;
    height: 75px;
}

.texteFB{
    font-size: 22px;
    padding-top: 20px;
}

.regions{
    width: 550px;
    height: 1100px;
    display: flex;
    flex-direction: column;
}

.regionsPar3{
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.regionsPar2{
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.region{
    width: 150px;
    height: 150px;
    border: 1px solid gray;
}

.region a{
    text-decoration: none;
    color: black;
}

.imgRegion{
    width: 140px;
    height: 100px;
    padding: 5px;
}


/*Accueil*/

/*Footer*/

footer{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: teal;
}

.imgLogoFooter{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.aPropos{
    color: white;
}

.elementFoot{
    color: white;
}

/*Footer*/

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 320px) {

body{
width: 320px;
height: 100%;
}

header{
display: flex;
flex-direction: column;
width: 320px;
height: 360px;
}


}