*{
    margin: 0px;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

/*header*/

header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-image:linear-gradient(#04519b, #044687 60%, #033769);
    position: fixed;
}

.logo{
    width: 50px;
    height: 50px; 
}

.imgLogo{
    width: 50px;
    height: 50px;
}

nav{
    height: 50px;
    color: white;
}

.navPrinc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1270px;
    list-style-type: none;
}
nav ul li{
    width: 100%;
}

.elementNav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;

}

.elementNav:hover{
    background-color: darkblue;
}

.fleche{
    width: 20px;
    height: 20px;
}

.sous{
    display: none;
    color: black;
    z-index: 1000;
    text-align: left;
    background-color: white;
    border: black;
}


li:hover .sous{
    display: block;
}

.sous li{
    display: block;
    list-style-type: none;
    font-size: 15px;
    width: 100%;
    text-align: left;
    margin-left: -30px;
    margin-top: 10px;
}

.sous li:first-of-type{
    margin-top: 0px;
}

.petit a{
    font-size: 15px;
}

.sous li a{
    width: 100%;
    color: black;
    text-decoration: none;
}

.sous li a:hover{
    width: 100%;
    display: block;
    background-color: #317EAC;
    opacity: 0.5;
}

/*header*/

/*Bannières*/

.imgBanniere{
    width: 100%;
    height: 520px;
}

.banniere2{
    width: 100%;
    height: 150px;
    padding-top: 50px;
}

/*Bannières*/

/*Accueil*/

.blocPrincipal{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.premierBloc{
    width: 1100px;
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sondage{
    width: 500px;
    height: 250px;
    border: 1px solid lightskyblue;
}

.titreSondage{
    color: #3332b6;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 20px;
}

.texteSondage{
    font-size: 18px;
    color: #333;
    padding: 10px;
}

.repondre{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.repondre a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 70px;
    background-image:linear-gradient(#04519b, #044687 60%, #033769);
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 8px;
}

.deuxiemeBloc{
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.imgAteliers{
    width: 500px;
    height: 75px;
}

.imgRencontres{
    width: 540px;
    height: 75px;
}

.troisiemeBloc{
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 30px;
}

.texteVideo{
    font-size: 18px;
    padding-top: 20px;
}

.texteVideo a{
    text-decoration: none;
    color: turquoise;
}

.imgManifeste{
    width: 500px;
    height: 75px;
    padding-top: 20px;
}

.imgMembre{
    width: 500px;
    height: 75px;
}

.texteFB{
    font-size: 22px;
    padding-top: 20px;
}

.regions{
    width: 550px;
    height: 1100px;
    display: flex;
    flex-direction: column;
}

.regionsPar3{
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.regionsPar2{
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.region{
    width: 150px;
    height: 150px;
    border: 1px solid #333;
}

.region a{
    text-decoration: none;
    color: black;
}

.imgRegion{
    width: 140px;
    height: 100px;
    padding: 5px;
}

/*Accueil*/

/*OBNL*/

.containerAG{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.AG{
    width: 1100px;
}

.titreAG{
    color: #317EAC;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.texteAG{
    color: #333;

}

.texteAG p a{
    text-decoration: none;
    color: deepskyblue;
}

.texteAG p a:hover{
    text-decoration: underline;
}

.accederPDFAG{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 50px;
    background-image:linear-gradient(#04519b, #044687 60%, #033769);
    color: white;
    font-size: 14px;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 20px;
}

/*OBNL*/

/*Projet de loi*/

.containerProjetLoi{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.projetLoi{
    width: 1100px;
}

.titrePL{
    color: #317EAC;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.projetLoi p{
    text-align: justify;
    color: #333;
    line-height: 140%;
}

.titreAC{
    color: black;
    font-size: 22px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: underline;
}

.projetLoi ol li{
    color: #333;
    line-height: 140%;
}

.titreli{
    margin-top: 15px;
    color: black;
}


/*Projet de loi*/

/*Constat*/

.containerConstat{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.constat{
    width: 1100px;
}

.titreConstat{
    color: #317EAC;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.barreCit{
    width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.barre{
    width: 7px;
    height: 80px;
    background-color: silver;
    opacity: 0.3;
}

.citation{
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: #317EAC;
}

.constat p{
    text-align: justify;
    color: #333;
    line-height: 140%;
}

.constat ol li{
    text-align: justify;
    color: #333;
    line-height: 140%;
}

.constat p a{
    text-decoration: none;
    color: deepskyblue;
}

.constat p a:hover{
    text-decoration: underline;
}

/*Constat*/

/*Bibliothèque*/

.containerBT{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.BT{
    width: 1100px;
}

.titreBT{
    color: #317EAC;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.DC{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.documents{
    width: 520px;
}

.titreDocuments{
    font-size: 28px;
    margin-bottom: 20px;
}

.documents ul li{
    text-align: justify;
    color: #333;
    line-height: 140%;
}

.documents a{
    text-decoration: none;
    color: deepskyblue;
}

.documents a:hover{
    text-decoration: underline;
}

.constitutions{
    width: 520px;
}

.titreConstitutions{
    font-size: 28px;
}

.islande{
    color: #317EAC;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.texteIslande{
    text-align: justify;
    color: #333;
    line-height: 140%;
}

.constitutions p{
    color: #333;
}

.constitutions a{
    text-decoration: none;
    color: deepskyblue;
}

.constitutions a:hover{
    text-decoration: underline;
}

.titreAutresConstitutions{
    color: #317EAC;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/*Bibliothèque*/

/*Médiathèque*/

.containerMT{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.MT{
    width: 1100px;
    display: flex;
    flex-direction: column;
}

.titreMT{
    color: #317EAC;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.bloc1, .bloc2, .bloc3, .bloc4, .bloc5, .bloc6, .bloc7, .bloc8, .bloc9{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.blocVideo{
    width: 535px;
    height: 330px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Médiathèque*/

/*Promouvoir*/

.containerPromouvoir{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.promouvoir{
    width: 1100px;
}

.titrePromouvoir{
    color: #317EAC;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.PT{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.porter{
    width: 520px;
}

.titrePorter{
    font-size: 28px;
    margin-bottom: 20px;
}

.porter p{
    font-size: 20px;
    color: #333;
}


.tracts{
    width: 670px;
}

.titreTracts{
    font-size: 28px;
    margin-bottom: 20px;
}

.tracts ol li{
    text-align: justify;
    color: #333;
    line-height: 140%;
    font-size: 20px;
}

.tracts ol li ul li{
    text-align: justify;
    color: #333;
    line-height: 140%;
}

.imgPDF{
    width: 25px;
    height: 25px;
}

.tracts a{
    text-decoration: none;
    color: deepskyblue;
}

.tracts a:hover{
    text-decoration: underline;
}


/*Promouvoir*/

/*Discutoire*/

.containerDiscutoire{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.discutoire{
    width: 1100px;
}

.titreDiscutoire{
    color: #317EAC;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.BM{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bienvenue{
    width: 640px;
}

.texteEntete{
    font-size: 25px;
}

.bienvenue p{
    text-align: justify;
    color: #333;
    line-height: 140%;
    font-size: 18px;
}

.bienvenue ul li{
    text-align: justify;
    color: #333;
    line-height: 140%;
    font-size: 18px;
}

.texteEntete{
    font-size: 23px;
    text-align: justify;
    line-height: 140%;
}

.titreConseil, .titreInstaller{
    color: #317EAC;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.imgMumble{
    margin-top: 20px;
    margin-bottom: 20px;
}

.installation, .son, .rejoindre{
    color: #317EAC;
    font-size: 20px;
}

.bienvenue a{
    text-decoration: none;
    color: deepskyblue;
}

.bienvenue a:hover{
    text-decoration: underline;
}

/*Discutoire*/

/*Médias*/

.containerMedias{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.medias{
    width: 1100px;
}

.titreMedias{
    color: #317EAC;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.titreCommunique{
    color: #317EAC;
    margin-top: 10px;
    font-size: 18px;
}

.titreCommunique ul li{
    color: deepskyblue;
    margin-top: 10px;
    font-size: 18px;
}

.medias a{
    text-decoration: none;
    color: deepskyblue;
}

.medias a:hover{
    text-decoration: underline;
}

/*Médias*/

/*Nous joindre*/

.containerNJ{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.NJ{
    width: 1100px;
}

.titreNJ{
    color: #317EAC;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.CR{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.composition{
    width: 520px;
}

.composition p{
    text-align: justify;
    color: #333;
    line-height: 140%;
    margin-bottom: 20px;
}

.composition ul li{
    color: #333;
    line-height: 140%;
}

.admin{
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}



.composition a{
    text-decoration: none;
    color: deepskyblue;
}

.composition a:hover{
    text-decoration: underline;
}

.responsabilites{
    width: 520px;
}

.responsabilites p{
    text-align: justify;
    color: #333;
    line-height: 140%;
    margin-bottom: 20px;
}

.responsabilites ul{
    margin-bottom: 20px;
}

.responsabilites ul li{
    color: #333;
    line-height: 140%;
}

.responsabilites a{
    text-decoration: none;
    color: deepskyblue;
}

.responsabilites a:hover{
    text-decoration: underline;
}

.NJ p{
    margin-top: 20px;
    color: #333;
}


/*Nous joindre*/

/*Footer*/

footer{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: teal;
}

.imgLogoFooter{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.aPropos{
    color: white;
}

.elementFoot{
    color: white;
}

/*Footer*/

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 320px) {

body{
width: 320px;
height: 100%;
}

header{
display: flex;
flex-direction: column;
width: 320px;
height: 360px;
}


}